/*
    ProjectName: platform-webapp-account
    Document   : search.css
    Encoding   : UTF-8
    Created on : 2013-8-7, 22:20:03
    Author     : Lincong <lincong1987@gmail.com>
    Version    : $Id: search.css 1247 2013-08-10 20:09:41Z lincong $
    Help       :
            @charset
            @import
            @media
            @namespace
            @page
            @font-face
    Description:
        本文件描述：

*/


.biz-search {
    padding: 10px;
}

.biz-search-form {
    position: relative;
    background-image: url("../../../img/modal/search/search_bg.gif");
    background-repeat: repeat-x;
    background-color: #F0F0F0;
    border: 1px solid #E5E5E5;
    border-top: none 0;
    padding-top: 5px;
    margin-bottom: 10px;
}

.biz-search-form table {
    position: relative;
    width: 100%;
    font-size: 12px;
    /*border: 1px solid #DCDCDC;*/
}
.biz-search-form table a {
    margin: 0px 5px;
}
.biz-search-form table th,
.biz-search-form table td {
    line-height: 16px;
    vertical-align: middle;
    word-break: break-all; /*支持IE，chrome，FF不支持*/
    word-wrap: break-word; /*支持IE，chrome，FF*/
    padding: 1px;
    font-size: 12px;
}
.biz-search-form table th {
    text-align: center;
    font-weight: normal;
    color: #454F52;
    background: #EEEEEE;
}
.biz-search-form table td {
    color: #333333;
}
.biz-search-form table div,
.biz-search-form table th span,
.biz-search-form table td span {
    position: relative;
    font-size: 12px;
}
.biz-search-form table td a {
    color: #333333;
}
.biz-search-form table td a:hover {
    color: #276916;
}
.biz-search-form table td label {
    font-size: 12px;
}
.biz-search-form table td input, .biz-search-form table td select {
    background: #FFFFFF;
    font-size: 12px;
    border: 1px solid #CCC;
    padding: 2px 0 2px 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    border-radius: 3px;
}
.biz-search-form table td input:hover,
.biz-search-form table td select:hover {
    border-color: rgba(163, 163, 163, 0.7);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(192, 192, 192, 0.075), 0 0 8px rgba(90, 90, 90, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(192, 192, 192, 0.075), 0 0 8px rgba(90, 90, 90, 0.6);
    box-shadow: inset 0 1px 1px rgba(192, 192, 192, 0.075), 0 0 8px rgba(90, 90, 90, 0.6);
}

.biz-search-form table td input:focus,
.biz-search-form table td select:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


.biz-search-other {
    position: relative;
    margin: auto;
    padding: 0 10px;
    margin-top: 5px;
    border-top: 1px solid #E5E5E5;
}

.biz-search-btns {
    text-align: center;
    padding: 8px 0 8px;
}


.biz-search-grid {
    height: 230px;
    width: 100%;
}

.modal-form-actions {
    margin: 10px 0;
}


.biz-search .biz-tree-title {
    height: 24px;
    line-height: 24px;
    border-bottom: 0;
}