/*
    ProjectName: platform-webapp-account
    Document   : login.css
    Encoding   : UTF-8
    Created on : 2013-8-2, 10:48:52
    Author     : Lincong <lincong1987@gmail.com>
    Version    : $Id: login.css 1094 2013-08-02 11:11:43Z lincong $
    Help       :
            @charset
            @import
            @media
            @namespace
            @page
            @font-face
    Description:
        本文件描述： 登陆样式

*/

@charset "utf-8";

.wrapper .container {

}

.modal-login {
    background: url(../../../img/biz/login/login_bg.gif) no-repeat;
    width: 755px;
    height: 491px;
    margin: 100px auto 20px auto;
    position: relative;
    overflow: hidden;
}

.modal-login-title {
    line-height: 95px;
    padding-left:  100px;
}

.modal-login-title span {
    font-size: 24px;
    color: #CC0000;
}

.modal-left {
    width:234px; top:220px; left:185px; position:absolute;
}
.modal-right {
    top:165px; left:480px; position:absolute;
}

.modal-login-container {
    height: 340px;
}
.modal-form {

}

.modal-form-title {
    color: #333;
    font-size: 13px;
    margin-bottom: 8px;
}

.modal-form-fields {

}
.modal-form-fields .input {
    height: 40px;
    line-height: 40px;
    color: #333;
    padding: 0px 5px;
    font-family: SimSun,"Microsoft YaHei";
    font-size: 14px;
    border: 1px solid #CCC;
    width: 225px;
    margin: 6px 0px;
}
.modal-form-fields #captcha,
.modal-form-fields #captchaImg {
    vertical-align: top;
    height: 40px;
    width: 108px;
}
.modal-form-fields #captchaImg {
    height: 42px;
    line-height: 40px;
    margin: 6px 0px;
    padding: 0px 5px;
    vertical-align: top;
    cursor: pointer;
}

.modal-form-actions {
    width:112px;
    margin-top:8px;
}

.btn-login-submit {
    background: url(../../../img/biz/login/login_btn.gif) 0px 0px no-repeat;
    width: 112px;
    height: 40px;
    border: none;
    display: block;
    cursor: pointer;
    margin: auto;
    text-indent: -100000px;
}
.btn-login-submit:hover{
    background-position: 0px -40px;
}

.modal-login-copyright {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    color: #333;
}
.modal-login-copyright a {
    color: #06F;
}
.modal-login-copyright a:hover {
    color: #F00;
}
