/*
    ProjectName: platform-webapp-security
    Document   : default.css
    Encoding   : UTF-8
    Created on : 2013-9-5, 15:40:24
    Author     : Lincong <lincong1987@gmail.com>
    Version    : $Id: default.css 53 2013-09-05 08:46:12Z lc $
    Help       :
            @charset
            @import
            @media
            @namespace
            @page
            @font-face
    Description:
        本文件描述：

*/
